<div id="posts">
    <h1>Recent posts</h1>
    <ul>
        $posts$
    </ul>
    <a href="/posts.html">All posts&hellip;</a>
</div>

<div class="about">
  <h1>About</h1>
  <p>
  This is a "live blog" of my analysis of the possible
  <a href="http://en.wikipedia.org/wiki/Galaxy_groups_and_clusters#Groups_of_galaxies">group of galaxies</a> found in a
  <a href="http://chandra.si.edu/">Chandra observation</a>
  of the
  <a href="http://en.wikipedia.org/wiki/Galaxy_groups_and_clusters#Clusters_of_galaxies">galaxy cluster</a>
  <a href="http://en.wikipedia.org/wiki/MACS_0717">MACS J0717.5+3745</a>.
  It is intended both to provide useful science (analysis
  of the object) but also to explore blogging/<a href="http://en.wikipedia.org/wiki/Open_access">Open Access</a>
  Science.
  More information can be found on the
  <a href="intro.html">Introduction page</a>.
  </p>
</div>

